{% extends "base_generic.html" %}

{% block content %}
<div style="margin-top: 3%;"></div>
   <div class="panel panel-primary">
      <div class="panel-heading text-center"><h1>Purchase List</h1></div>
      <div class="panel-body">
            <p>
              <button type="button" class="btn btn-primary no-print pull-right" onclick="window.print();">Print</button>
              <a href="{% url 'otherpurchases' %}" class="btn btn-primary no-print ">Other Purchase List</a>
            </p>
            <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Purchase</th>
                            <th scope="col">Stock</th>
                            <th class="no-print" scope="col">Cost Price</th>
                            <th class="no-print" scope="col">Selling Price</th>
                        </tr>
                    </thead> 
                    <tbody>
                        {% if purchase_list %}
                        {% for purchase in purchase_list %}
                        <tr>
                            <td>{{ purchase }}</td>
                            <td>{{ purchase.stock }}</td>
                            <td>{{ purchase.cost_price }}</td>
                            <td>{{ purchase.selling_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>_
          {% else %}
            <p>No purchases made yet.</p>
          {% endif %}  
      </div>
    </div>
{% endblock %}