{% extends "base_generic.html" %}

{% block content %}
<div style="margin-top: 3%;"></div>
<div class=" row">
        <div class="col-md-4"></div>
        <div class="panel panel-primary col-md-4">
        <div class="panel-heading " ><h2>Purchase Purchase</h2></div>
        <div class="panel-body" >
                        <div >
                                <form action="" method="POST">
                                {%csrf_token%}
                                {% for error in form.non_field_errors %}
                                <div class="form-group has-errors text-danger small">
                                        {{error}}
                                </div>
                                {% endfor %}
                                
                                {% for field in form %}
                                <div class="form-group has-errors text-danger small">
                                        {{field.errors}}
                                </div>
                                <div class="form-group">
                                        {{ field.label_tag }}
                                                
                                        {{ field.errors }}
                                        {{ field }}
                                
                                
                                </div>
                                {% endfor %}
                                
                                <button class="btn btn-primary" style="width:100%"> Submit</button>
                        </div>
                        </form>
                        <br>
                <a  class="btn btn-primary" href="{% url 'purchases' %}" >View Purchase List</a>
                <a  class="btn btn-primary" href="{% url 'product_create' %}" >New Product</a>
                </div>
        </div>
        <div class="col-md-4"></div>
</div>


{% endblock %}