{% extends "base_generic.html" %}

{% block content %}
<div style="margin-top: 3%;"></div>
<div class=" row">
        <div class="col-md-1"></div>
        <div class="panel panel-primary col-md-10">
        <div class="panel-heading text-center" ><h3>Report</h3></div>
        <div class="panel-body" >
                            <div class="row">
                                <div>
                                        <div class="col-lg-4 card  mb-4 col-md-3" >
                                                <div class="panel panel-warning">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <i class="fa fa-tasks "></i>
                                                            </div>
                                                            <div class="col-xs-9 text-center">
                                                                <div>Number of Products </div>
                                                                <h1>{{ num_product }}</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 card  mb-4 col-md-3" >
                                                <div class="panel panel-danger">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <i class="fa fa-tasks "></i>
                                                            </div>
                                                            <div class="col-xs-9 text-center">
                                                                <div>Products out of Stock</div>
                                                                <h1>{{ num_product_finished }}</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 card  mb-4 col-md-3" >
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-xs-3">
                                                                    <i class="fa fa-money"></i>
                                                                </div>
                                                                <div class="col-xs-9 text-center">
                                                                    
                                                                    <div>Cash in Register</div>
                                                                    <h2>{{ currency }}{{ cash_register }}</h2>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#">
                                                            <div class="panel-footer">
                                                                <span class="pull-left">View Details</span>
                                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                </div>
                                <div class="col-md-12">
                                        <button class=" lead btn btn-lg btn-primary btn-block" data-toggle="collapse" data-target="#general">General Report</button>
                                        <br>
                                        <div id="general" class="collapse">
                                                
                                            <div class="col-lg-4 card  mb-4 col-md-3" >
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <i class=" fa fa-shopping-cart   "></i>
                                                            </div>
                                                            <div class="col-xs-9 text-center">
                                                                <div>Total orders</div>
                                                                <h3 class="">{{ num_orders }}</h3>
                                                                <div>Total Sales</div>
                                                                <h3 class="">{{ currency }}{{ t_sales }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                                <div class="col-lg-4 card  mb-4 col-md-3" >
                                                        <div class="panel panel-info">
                                                            <div class="panel-heading">
                                                                <div class="row">
                                                                    <div class="col-xs-3">
                                                                        <i class="fa fa-tasks "></i>
                                                                    </div>
                                                                    <div class="col-xs-9 text-center">
                                                                        <div>Total Purchases</div>
                                                                        <h1 class="">{{ total_num_purchases }}</h1>
                                                                        <i class="small" >Product: {{ num_purchases }} Cost:{{ currency }}{{t_purchases}}
                                                                          <br>  Others: {{ num_other_purchases }}  Cost:{{ currency }}{{t_other_purchases}}</i>
                                                                        <div>Total Cost</div>
                                                                        <h3 class="">{{ currency }}{{ total_purchases_amount }}</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a href="#">
                                                                <div class="panel-footer">
                                                                    <span class="pull-left">View Details</span>
                                                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    
                                            <div class="col-lg-4 card  mb-4 col-md-3" >
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <i class="fa fa-money"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-center">
                                                                <div>Profit from Sales</div>
                                                                <h2 class="">{{ currency }}{{ profit_on_sales }}</h2>
                                                                <div>Cash in Register</div>
                                                                <h3>{{ currency }}{{ cash_register }}</h3>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>  

                                            

                                        <button class="btn btn-lg btn-primary btn-block" data-toggle="collapse" data-target="#daily">Daily Report</button>
                                        <br>
                                        <div id="daily" class="collapse">
                                                
                                            <div class="col-lg-4 card  mb-4 col-md-3" >
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <i class=" fa fa-shopping-cart   "></i>
                                                            </div>
                                                            <div class="col-xs-9 text-center">
                                                                <div>Orders</div>
                                                                <h3 class="">{{ num_daily_orders }}</h3>
                                                                <div>Returns</div>
                                                                <h3 class="">{{ currency }}{{ total_returns }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                                <div class="col-lg-4 card  mb-4 col-md-3" >
                                                        <div class="panel panel-info">
                                                            <div class="panel-heading">
                                                                <div class="row">
                                                                    <div class="col-xs-3">
                                                                        <i class="fa fa-tasks "></i>
                                                                    </div>
                                                                    <div class="col-xs-9 text-center">
                                                                        <div>Purchases</div>
                                                                        <h1 class="">{{ dtotal_num_purchases }}</h1>
                                                                        <i class="small" >Product: {{ num_daily_purchases }} Cost:{{ currency }}{{daily_total_purchases}}
                                                                          <br>  Others: {{ num_daily_other_purchases }}  Cost:{{ currency }}{{daily_total_other_purchases}}</i>
                                                                        <div>Total Cost</div>
                                                                        <h3 class="">{{ currency }}{{ daily_total_purchases_amount }}</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a href="#">
                                                                <div class="panel-footer">
                                                                    <span class="pull-left">View Details</span>
                                                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    
                                            <div class="col-lg-4 card  mb-4 col-md-3" >
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <i class="fa fa-money"></i>
                                                            </div>
                                                            <div class="col-xs-9 text-center">
                                                                <div>Profit from Sales</div>
                                                                <h2 class="">{{ currency }}{{ daily_profit_on_sales }}</h2>
                                                                <div>Returns</div>
                                                                <h3 class="">{{ currency }}{{ daily_total_returns }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">View Details</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                            <button class=" lead btn btn-lg btn-primary btn-block" data-toggle="collapse" data-target="#weekly">Weekly Report</button>
                                            <br>
                                            <div id="weekly" class="collapse">
                                                    
                                                <div class="col-lg-4 card  mb-4 col-md-3" >
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-xs-3">
                                                                    <i class=" fa fa-shopping-cart   "></i>
                                                                </div>
                                                                <div class="col-xs-9 text-center">
                                                                    <div>orders for this week</div>
                                                                    <h3 class="">{{ num_weekly_orders }}</h3>
                                                                    <div> Sales</div>
                                                                    <h3 class="">{{ currency }}{{ weekly_total_sales }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#">
                                                            <div class="panel-footer">
                                                                <span class="pull-left">View Details</span>
                                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                
                                                    <div class="col-lg-4 card  mb-4 col-md-3" >
                                                            <div class="panel panel-info">
                                                                <div class="panel-heading">
                                                                    <div class="row">
                                                                        <div class="col-xs-3">
                                                                            <i class="fa fa-tasks "></i>
                                                                        </div>
                                                                        <div class="col-xs-9 text-center">
                                                                            <div>Purchases</div>
                                                                            <h1 class="">{{ wtotal_num_purchases }}</h1>
                                                                            <i class="small" >Product: {{ num_weekly_purchases }} Cost:{{ currency }}{{weekly_purchases}}
                                                                              <br>  Others: {{ num_weekly_other_purchases }}  Cost:{{ currency }}{{weekly_other_purchases}}</i>
                                                                            <div>Total Cost</div>
                                                                            <h3 class="">{{ currency }}{{ weekly_total_purchases_amount }}</h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="#">
                                                                    <div class="panel-footer">
                                                                        <span class="pull-left">View Details</span>
                                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        
                                                <div class="col-lg-4 card  mb-4 col-md-3" >
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-xs-3">
                                                                    <i class="fa fa-money"></i>
                                                                </div>
                                                                <div class="col-xs-9 text-center">
                                                                    <div>Profit from Sales</div>
                                                                    <h2 class="">{{ currency }}{{ weekly_profit_on_sales }}</h2>
                                                                    <div>Returns</div>
                                                                <h3 class="">{{ currency }}{{ weekly_total_returns }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#">
                                                            <div class="panel-footer">
                                                                <span class="pull-left">View Details</span>
                                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
    
                                            </div>  
    
                                                
    
                                            <button class="btn btn-lg btn-primary btn-block" data-toggle="collapse" data-target="#monthly">Monthly Report</button>
                                            <br>
                                            <div id="monthly" class="collapse">
                                                    
                                                <div class="col-lg-4 card  mb-4 col-md-3" >
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-xs-3">
                                                                    <i class=" fa fa-shopping-cart   "></i>
                                                                </div>
                                                                <div class="col-xs-9 text-center">
                                                                    <div>Orders</div>
                                                                    <h3 class="">{{ num_monthly_orders }}</h3>
                                                                    <div>Sales</div>
                                                                    <h3 class="">{{ currency }}{{ monthly_total_sales }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#">
                                                            <div class="panel-footer">
                                                                <span class="pull-left">View Details</span>
                                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                
                                                    <div class="col-lg-4 card  mb-4 col-md-3" >
                                                            <div class="panel panel-info">
                                                                <div class="panel-heading">
                                                                    <div class="row">
                                                                        <div class="col-xs-3">
                                                                            <i class="fa fa-tasks "></i>
                                                                        </div>
                                                                        <div class="col-xs-9 text-center">
                                                                            <div>Purchases</div>
                                                                            <h1 class="">{{ mtotal_num_purchases }}</h1>
                                                                            <i class="small" >Product: {{ num_monthly_purchases }} Cost:{{ currency }}{{monthly_total_purchases}}
                                                                              <br>  Others: {{ num_monthly_other_purchases }}  Cost:{{ currency }}{{monthly_total_other_purchases}}</i>
                                                                            <div>Total Cost</div>
                                                                            <h3 class="">{{ currency }}{{ monthly_total_purchases_amount }}</h3>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="#">
                                                                    <div class="panel-footer">
                                                                        <span class="pull-left">View Details</span>
                                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        
                                                <div class="col-lg-4 card  mb-4 col-md-3" >
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-xs-3">
                                                                    <i class="fa fa-money"></i>
                                                                </div>
                                                                <div class="col-xs-9 text-center">
                                                                    <div>Profit from Sales</div>
                                                                    <h2 class="">{{ currency }}{{ monthly_profit_on_sales }}</h2>
                                                                    <div>Returns</div>
                                                                <h3 class="">{{ currency }}{{ monthly_total_returns }}</h3>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#">
                                                            <div class="panel-footer">
                                                                <span class="pull-left">View Details</span>
                                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>

                                       <div class="col-md-12">
                                            <a href="{% url 'custom_report' %}" class="btn btn-lg btn-primary btn-block">Custom Date Report</a>
                                       </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                                
                </div>
        </div>
        <div class="col-md-1 "></div>
</div>

{% endblock %}